.navcontainer2 {
    z-index: 10;

    .wrapper2 {
        height: 64px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid red;

        .navtitle {
            h4 {
                margin: 0;
                font-family: "Palagio";
                font-weight: 400;
                font-size: 32px;
            }
        }
    }

    .menu-toggle {
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        text-decoration: none;

        .hamburger path {
            fill: none;
            stroke: #000;
            stroke-linecap: round;
        }
    }

}

.fullpage-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 0vh;
    // display: none;

    background: rgba(226, 225, 202, 0.5);
    backdrop-filter: blur(13px);


    .fullpage-menu-inner {
        display: none;
        align-items: center;
        justify-content: center;
        // opacity: 0;
        // display: none;
        height: 100vh;
        padding: 100px 60px;
        // border: 1px solid red;
    }


    .title {
        // border: 1px solid black;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 84.09px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .titleinner {
            width: 90%;
            // display: flex;
            // border: 1px solid red;
            margin: 0 auto;
            overflow: hidden;

            h5 {
                margin: 0;
                font-family: "Palagio";
                font-weight: 400;
                font-size: 32px;
                // display: inline-block;
                transform: translateY(110%);
            }
        }
    }

    nav {
        position: relative;
        z-index: 1;
        text-align: center;

        ul {
            list-style-type: none;
        }

        li {
            overflow: hidden;
            margin: 0;
            padding: 0;

            +li {
                margin-top: 30px;
            }

            a {
                font-size: 64px;
                text-decoration: none;
                font-family: "Nympha Trial Reg";
                color: #000;
                overflow: hidden;
                display: inline-block;
                transform: translateY(110%);
                // opacity: 0;
                // color: transparent;
                // -webkit-text-stroke: 2px #000;

                span {
                    position: relative;
                    margin: 0;
                    padding: 0;

                    // This places the data-clip attribute for the hove reffect to take place
                    &::before {
                        content: attr(data-clip);
                        color: transparent;
                        -webkit-text-stroke: 2px #000;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: #E2E1CA;
                        -webkit-background-clip: text;
                        z-index: 1;
                        height: 0%;
                        overflow: hidden;
                        transition: 400ms linear 0s;
                    }
                }
            }

            // This is where the hover effect is doen for the navbar menu

            &:hover {
                a span {
                    &::before {
                        height: 100%;
                    }
                }
            }
        }
    }

}

// @media screen and (max-width:767px) {}