.HomeContainer {
    height: 100vh;
    // background-color: #E2E1CA;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;

    .innercon {
        display: flex;
        flex-direction: column;
        align-items: center;

        .name {
            position: relative;
            // display: flex;
            // flex-direction: column;
            // border: 1px solid red;
            // height: 400px;

            h1 {
                font-size: 180px;
                font-family: "Palagio";
                font-weight: 400;
                // line-height: 209px;
                // border: 1px solid black;
                margin: 0;

                span {
                    color: #4E3B1F;
                }

            }

            img {
                position: absolute;
                bottom: 0;
                margin-bottom: 20px;
                right: 0;
                z-index: -1;
                width: 182px;
            }
        }

        .title {
            display: flex;
            flex-direction: row;
            // border: 1px solid red;
            width: 100%;
            justify-content: space-between;
            margin-top: 10px;

            h4 {
                font-family: "SF Pro Text Regular";
                font-size: 40px;
                font-weight: 500;
                margin: 0;
            }
        }

        .writeup {
            // border: 1px solid red;
            margin-top: 50px;

            h5 {
                font-family: "SF Pro Text Regular";
                font-size: 20px;
                font-weight: 500;
                line-height: 23px;
                width: 269px;
                margin: 0;
                text-align: center;
            }
        }

        .links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-top: 79px;
            margin-bottom: 10px;
            width: 100%;
            // border: 1px solid black;

            li {
                list-style: none;
                font-family: "SF Pro Text Regular";
                font-size: 24px;
                font-weight: 500;
                // border: 1px solid red;
                height: 30px;
                cursor: pointer;

                &::after {
                    // border-bottom: 1px solid black;
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: #000;
                    transition: width .5s;
                }

                &:hover::after {
                    width: 100%;
                }

                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}