.gallerycon {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    // height: 100%;

    .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}