.gallerycon {
    display: flex;
    flex-direction: column;
    // border: 1px solid red;
    // height: 100%;


    // padding-bottom: 50px;

    .inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // margin-bottom: 50px;
    }
}